header {
  padding: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
  background-image: linear-gradient(white, #e9f5fa);
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

body {
  margin: 0;
  font-family: 'Arial';
  font-size: 16px;
  line-height: 1.8em;
}


section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

main {
  max-width: 1140px;
}


.fab {
  border: 1px solid rgba(24, 24, 24, 0.8);
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a {
  color: rgb(26, 42, 63);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a .fab {
  color: rgba(24, 24, 24, 0.8)
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f8fafc;
}

td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #b1c5cc;
}

tr:nth-child(even) {
  background-color: white;
}

footer {
 padding: 1em 1.5em;
 background: #88a9b8;
 color: white;
 text-align: right;
}

summary {
  cursor: pointer;
  background-color: #f8fafc;
}
